body{
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 40px;
}
h3{
    
    color: rgb(1, 1, 3);
}
p{
   text-justify: distribute;
}
.name{
    color: rgb(253, 210, 68);
}
section{
    display: flex;
}
.half{
    width: 50%;
    padding: 5%;
    
}
.half img{
    padding-top: 40px;
    width: 80%;
   
}
.btn-one{
    text-decoration: none;
    padding: 10px;
    background-image: linear-gradient(rgb(110, 143, 236),rgb(38, 0, 255));
    color: azure;
    border-radius: 5px;
}
.about{
    color: rgb(211, 7, 150);
}
#ex{
    text-align: center;
}
#expo{
    
    box-shadow: 10px 10px 40px #888888;
    border-left: 7px solid;
    border-image: linear-gradient(blue,cyan);
    border-image-slice: 1;
    
}
.half-ex{
    margin: 5%;
    padding: 30px;
}
.foot{
    text-align: center;
    padding: 100px;
    background-color: rgb(235, 156, 60);
}